@charset "utf-8";/*css 앞에는 charset을 선언하는 것이 좋다.*/

/* HTML reset*/
main,
section,
article,
nav,
aside,
header,
footer,
figure,
figcaption{
    display: block;
}

html,
body{
    min-height: 100%;
}

<!-- table, input, textarea, select, button은 body의
    글꼴사이즈를 내려받지 못한다. -->
body,
table,
input,
textarea,
select,
button{
    font-size: 14px;
}

/* ALL - 공용 스타일*/

body{
    margin:0;
    min-width: 320px;
    max-width: 1280px;
    background-image: -webkit-liner-gradient(top, #ccc, #fff);
    background-image: -moz-liner-gradient(top, #ccc, #fff);
    background-image: -o-liner-gradient(top, #ccc, #fff);
    background-image: -ms-liner-gradient(top, #ccc, #fff);    
    background-image: linear-gradient(to bottom, #ccc, #fff);
    
}
 
main{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);<!-- x y blur color -->
}
/*  >  자식선택자 */
main>article{
    padding: 15px;
}
main>article:first-child{
    margin-top: 0;
}
.lnb li:last-child>a{
    border-radius: 0 0 4px 4px;
}
.lnb a:hover,
.lab a:focus{
    background-color: #333;
                        
}

.lnb>h2{
    background: #333;
    color:#fff;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    line-height: 32px;
    padding: 0px 15px;
    margin: 0px;
}

.lnb>ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.lnb a{
    display: block;
    background: #666;
    color: #fff;
    line-height: 32px;
    text-decoration:none;
    padding: 0 15px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}


.lnb li{
    margin-top: 1px;
}

.aside{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,.5);
    border-bottom: 1px solid;
}

.aside>h2{
    margin:0;
    font-size:14px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
}

.aside>ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.aside li{
    margin: 10px 0;
    
}
/* Mobile */

/* Tablet& Desktop */

/* Tablet */


/*Desktop*/